html{
    font-size: 62.25%;
}

body{
    font-family: 'Maven Pro';
    background-color: white;
    color: #13112b;
    max-width: 1920px;
    margin: 0 auto;
}

.overlay{
    background-color: #00093b;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.overlay-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    position: absolute;
    height: inherit;
}

.container{
    max-width: 1170px;
}

img{
    max-width: 100%;
    height: auto;
    display:block
}

/*--------------------------
    NAV
---------------------------*/

/*--------------------------
    HEADER
---------------------------*/

/*--------------------------
    FEATURES
---------------------------*/
#features .box-icons img,
#features .box-icons section{
    display: inline-block;
    vertical-align: top;
}

#features .box-icons section{
    width: 50%;
}    

#features .charts section{
    display: inline-block;
}


/*--------------------------
    TESTIMONIALS
---------------------------*/

/*--------------------------
    BLOG
---------------------------*/

#blog .slider article{
    width: 24%;
    display: inline-block;
}

#blog .slider figure{
    overflow: hidden;
    height: 33.0rem;
    width: 19.5rem;
}
#blog .slider figure img{
    max-width: none;
    height: 33.0rem;
}


/*--------------------------
    CONTACT US
---------------------------*/

/*--------------------------
    FOOTER
---------------------------*/
