html{
    font-size: 62.25%;
}

body{
    font-family: 'Maven Pro';
    background-color: white;
    color: #13112b;
    max-width: 1920px;
    margin: 0 auto;
}

.overlay{
    background-color: #00093b;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.overlay-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    position: absolute;
    height: inherit;
}

.container{
    max-width: 1170px;
}

img{
    max-width: 100%;
    height: auto;
    /* display:block */
}

/*--------------------------
    NAV
---------------------------*/

nav{
    padding: 5rem;
    position: relative;
    z-index: 999;
    height: 5.2rem;
    /* box-sizing: border-box; */
}

nav .logo{
    float: left;
}

nav .logo span{
    font-weight: 900;
    color: white;
    font-size: 3rem;
    letter-spacing: 0.6rem;
    display: inline-block;
    
    padding-left: 1rem;
    padding-top: 0.25rem;

    vertical-align: top;
}

nav .navbar{
    float: right;
}

nav ul li{
    display: inline-block;
    text-align:  center;

    min-width: 6rem;
    padding: 1.7rem;
    margin: 0 1.7rem;
}

nav ul li.selected{
    border-bottom: 0.2rem solid white;
}   

nav ul li a{
    font-weight: 500;
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: #6e45e2;
}    

nav ul li.special{
    border: 0.1rem solid white;
    border-radius: 3.5rem;

    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.06rem;

    padding-left: 3.3rem;
    padding-right: 3.3rem;
}

nav:after{
    content: "";
    display: table;
    clear: both;
}

/*--------------------------
    HEADER
---------------------------*/

header{
    margin-top: -18rem;
    background-image: url(../images/header_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

header .row{
    padding-top: 45.0rem;
}

/*--------------------------
    FEATURES
---------------------------*/
#features .box-icons img,
#features .box-icons section{
    display: inline-block;
    vertical-align: top;
}

#features .box-icons section{
    width: 50%;
}    

#features .charts section{
    display: inline-block;
}


/*--------------------------
    TESTIMONIALS
---------------------------*/

/*--------------------------
    BLOG
---------------------------*/

#blog .slider article{
    width: 24%;
    display: inline-block;
}

#blog .slider figure{
    overflow: hidden;
    height: 33.0rem;
    width: 19.5rem;
}
#blog .slider figure img{
    max-width: none;
    height: 33.0rem;
}


/*--------------------------
    CONTACT US
---------------------------*/

/*--------------------------
    FOOTER
---------------------------*/
