@font-face {
    font-family: 'Maven Pro';
    src: local('Maven Pro Regular'), 
         local('MavenProRegular'), 
         url('../fonts/MavenPro/Mavenproregular.woff2') format('woff2'), 
         url('../fonts/MavenPro/Mavenproregular.woff') format('woff'), 
         url('../fonts/MavenPro/Mavenproregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Maven Pro';
    src: local('Maven Pro Medium'), 
         local('MavenProMedium'), 
         url('../fonts/MavenPro/Mavenpromedium.woff2') format('woff2'), 
         url('../fonts/MavenPro/Mavenpromedium.woff') format('woff'), 
         url('../fonts/MavenPro/Mavenpromedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Maven Pro';
    src: local('Maven Pro Bold'), 
         local('MavenProBold'), 
         url('../fonts/MavenPro/Mavenprobold.woff2') format('woff2'), 
         url('../fonts/MavenPro/Mavenprobold.woff') format('woff'), 
         url('../fonts/MavenPro/Mavenprobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Maven Pro';
    src: local('Maven Pro Black'), 
         local('MavenProBlack'), 
         url('../fonts/MavenPro/Mavenproblack.woff2') format('woff2'), 
         url('../fonts/MavenPro/Mavenproblack.woff') format('woff'), 
         url('../fonts/MavenPro/Mavenproblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: local('PlayfairDisplay-Italic'), 
         url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff2') format('woff2'), 
         url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff') format('woff'), 
         url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf') format('truetype');
    font-style: italic;
}

